:root{
    --color-1: #121212;
    --color-2: #F1F1F1;
    --color-3: #FF3562;
    --color-4: #9B7EDE;
    --color-5: #087E8B;
    --background-color: #F1F1F1;
    --fs-xxl: clamp(2em, 5vw + 1em, 4em);
    --fs-xl: clamp(1em, 4vw + 1em, 2.5em);
    --fs-m: clamp(1em, 3vw + 1em, 1.8em);
    --fs-p: clamp(1em, 2vw + 0.5em, 1.4em);
    --fs-i: clamp(3.5em, 3vw + 2em, 4.5em);
}
::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    background-color: var(--color-1);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
  border-radius: 0.25em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    color: var(--color-1);
    background-color: var(--color-2);
    font-family: "Montserrat", sans-serif;
}
nav{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 4rem;
    background-color: var(--color-1);
    color: #FFF;
    z-index: 999;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.logo img{
    width: 4rem;
}
.logo .title{
    display: flex;
    flex-direction: column;
}
.logo .title span{
    font-weight: 800;
}
#menuToggle{
    position: relative;
    top: 5px;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
#menuToggle a:hover{
    color: var(--color-3);
}
#menuToggle input{
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span{
    display: block;
    width: 50px;
    height: 6px;
    margin-bottom: 8px;
    position: relative;
    background: var(--color-2);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--color-1);
}
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}
#menu{
    position: absolute;
    width: 120vw;
    height: 120vh;
    padding: 50px;
    top: -50px;
    right: -20vw;
    padding-top: 23vh;
    padding-right: 10%;
    background: var(--background-color);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 50% 50%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
    padding-bottom: 25px;
}
#menu li a{
    padding-left: 5%;
    font-size: var(--fs-xl);
    color: var(--color-1);
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
#menu li a:hover{
    font-weight: 900;
    color: var(--color-3);
    animation: letterspacing 0.4s linear;
}
@keyframes letterspacing {
    0%{
        letter-spacing: 0px;
    }
    50%{
        letter-spacing: 1px;
    }
    100%{
        letter-spacing: 0px;
    }
}
#menu li a:active{
    opacity: 0.8;
    font-size: 2.45em;
}
#menuToggle input:checked ~ ul{
    transform: none;
}

header{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 8rem;
}
header .righthead img{
    width: 25rem;
}
header .lefthead h2{
    font-weight: 300;
    font-size: 1.2rem;
}
header .lefthead h1{
    font-weight: 900;
    font-size: 3.3rem;
    padding-bottom: 0.7rem;
}
header .lefthead .benvenuto{
    padding-bottom: 2rem;
}
header .lefthead .benvenuto span{
    font-weight: 800;
    color: var(--color-3);
}
header .lefthead .bottoni{
    display: flex;
    gap: 1.5rem;
}
header .lefthead button:nth-child(1){
    height: 3rem;
    width: 12rem;
    margin-top: 0.5rem;
    border: 3px solid var(--color-3);
    background-color: var(--color-3);
    color: var(--color-1);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
header .lefthead button:nth-child(2){
    height: 3rem;
    width: 12rem;
    margin-top: 0.5rem;
    border: 3px solid var(--color-3);
    background-color: var(--color-1);
    color: var(--color-3);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
.sicilia{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 8rem;
}
.sicilia img{
    width: 25rem;
}
.sicilia h1{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 0.7rem;
    color: var(--color-3);
}
.esigenze{
    padding: 4rem 8rem;
    background-color: var(--color-1);
    color: var(--color-2);
}
.esigenze h1{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: var(--color-3);
}
.esigenze .icone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.esigenze .icone .carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-weight: 700;
}
.esigenze .icone .carta .fa-solid{
    font-size: 5rem;
}
.process{
    display: flex;
    gap: 3rem;
    padding: 8rem;
    position: relative;
}
.process h1{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--color-3);
}
.process .left{
    position: sticky;
    height: 20rem;
    top: 10rem;
}
.process .right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.process .right .card{
    width: 25rem;
    padding: 2rem;
    background-color: var(--color-1);
    color: white;
    border-radius: 20px;
}
.process .right .card .title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}
.process .right .card .title i{
    font-size: 2rem;
}
.pacchetti{
    padding: 4rem 8rem;
    background-color: var(--color-1);
    color: white;
}
.pacchetti h1{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: var(--color-3);
}
.pacchetti .cards{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.pacchetti .card{
    max-width: 20rem;
    background-color: var(--color-2);
    border-radius: 20px;
    color: var(--color-1);
}
.pacchetti .card .name{
    width: 100%;
    height: 5rem;
    background-color: var(--color-5);
    display: flex;
    align-items: center;
    padding-left: 4rem;
    border-radius: 20px 20px 50px 0px;
}
.pacchetti .card .name h3{
    font-size: 2.3rem;
    color: var(--color-2);
    font-weight: 800;
}
.pacchetti .card .cont{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.pacchetti .card .design{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.pacchetti .card .design h4{
    font-size: 1.2rem;
    font-weight: 800;
    padding-left: 1rem;
}
.pacchetti .card .cont span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
    gap: 0.8rem;
}
.pacchetti .card .developer{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.pacchetti .card .developer h4{
    font-size: 1.2rem;
    font-weight: 800;
    padding-left: 1rem;
}
.pacchetti .card .ad{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.pacchetti .card .ad h4{
    font-size: 1.2rem;
    font-weight: 800;
    padding-left: 1rem;
}
.pacchetti .card .preventivo{
    width: 100%;
    height: 4rem;
    background-color: var(--color-5);
    border-radius: 0 0 20px 20px;
    color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pacchetti .card.due .preventivo{
    background-color: var(--color-4);
}
.pacchetti .card.due .name{
    background-color: var(--color-4);
}
.pacchetti .card.tre .preventivo{
    background-color: var(--color-3);
}
.pacchetti .card.tre .name{
    background-color: var(--color-3);
}
.pacchetti .card .grey{
    color: #737373;
}
.fa-circle-xmark{
    color: #E80000;
}
.fa-circle-check{
    color: green;
}
.contatti{
    padding: 8rem;
}
.contatti h1{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: var(--color-3);
}
.contatti .contenuto{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}
.contatti .contenuto .left{
    padding-top: 3rem;
}
.contatti .contenuto .left .social{
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}
.contatti .contenuto .right form{
    width: calc(100vw - 2rem);
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contatti .contenuto input{
    width: 100%;
    height: 2.5rem;
    font-family: "montserrat", sans-serif;
    padding: 0.8rem;
    color: var(--color-1);
    font-weight: 500;
    border: 2px solid var(--color-1);
    border-radius: 7px;
    font-size: 1rem;
}
.contatti .contenuto textarea{
    width: 100%;
    height: 10rem;
    font-family: "montserrat", sans-serif;
    padding: 0.8rem;
    font-weight: 500;
    height: 10em;
    border: 2px solid var(--color-1);
    border-radius: 7px;
    resize: none;
    font-size: 1rem;
}
.contatti .contenuto button{
    background-color: var(--color-3);
    width: 9rem;
    height: 2.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    border: 2px solid var(--color-1);
    border-radius: 7px;
}
.about{
    display: flex;
    gap:1rem;
    flex-direction: column;
    padding: 4rem 8rem;
    background-color: var(--color-1);
    color: white;
}
.about h1{
    font-weight: 900;
    font-size: 2rem;
    color: var(--color-3);    
}
.about .sudime{
    display: flex;
    gap: 3rem;
}
.about .sudime a{
    text-decoration: none;
    color: var(--color-3);
    font-weight: 800;
}
.about .sudime .right{
    width: 40rem;
}
.about .sudime .right .icone{
    display: flex;
    gap: 1.5rem;
    font-size: 2rem;
    padding-top: 1.5rem;
}
@media(max-width:60rem){
    nav{
        padding: 0.5rem 1.5rem;
    }
    header{
        height: 100vh;
        display: flex;
        padding: 0 1rem;
        gap: 0;
    }
    header .righthead img{
        display: none;
    }
    header .lefthead h2{
        font-size: 1rem;
    }
    header .lefthead h1{
        font-weight: 900;
        font-size: 3rem;
        line-height: 1.1;
        padding-bottom: 0.7rem;
    }
    header .lefthead .bottoni{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.7rem;
    }
    header .lefthead button:nth-child(1){
        width: 10rem;
    }
    header .lefthead button:nth-child(2){
        width: 10rem;
    }
    .sicilia{
        flex-direction: column;
        gap: 1rem;
        padding: 5rem 1rem;
    }
    .sicilia img{
        width: 20rem;
    }
    .sicilia h1{
        font-size: 2.3rem;
        padding-bottom: 0.7rem;
    }
    .esigenze{
        padding: 5rem 1rem;
    }
    .esigenze h1{
        font-size: 2rem;
        padding-bottom: 3rem;
    }

    .esigenze .icone{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .esigenze .icone .carta{
        height: 9rem;
        width: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .esigenze .icone .carta p{
        text-align: center;
    }
    .process{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 1rem;
        position: relative;
        align-items: center;
    }
    .process h1{
        font-size: 2.3rem;
        line-height: 1;
    }
    .process .left{
        position: static;
        height: auto;
    }
    .process .right{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .process .right .card{
        width: 21rem;
        padding: 1.5rem;
    }
    .process .right .card .title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .process .right .card .title i{
        font-size: 1.8rem;
    }
    .process .right .card .title h2{
        font-size: 1.2rem;
    }
    .process .right .card .content p{
        font-size: 0.9rem;
    }
    .pacchetti{
        padding: 5rem 1rem;
    }
    .pacchetti h1{
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    .contatti{
        padding: 5rem 1rem;
    }
    .contatti h1{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .contatti .contenuto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .contatti .contenuto .left{
        padding-top: 0;
    }
    .contatti .contenuto .left .social{
        font-size: 2rem;
        display: flex;
        gap: 1rem;
        padding-top: 1rem;
    }
    .contatti .contenuto button{
        background-color: var(--color-3);
        width: 9rem;
        height: 2.7rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
        border: 2px solid var(--color-1);
        border-radius: 7px;
    }


.about{
    padding: 5rem 1rem;
}
.about .sudime{
    display: flex;
    gap: 3rem;
    flex-direction: column;
}
.about .sudime .right{
    width: 100%;
}
}